@font-face {
  font-family: "Alata";
  src: local("Alata-Regular"),
    url("../../fonts/Alata-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Georgia";
  src: local("Georgia"), url("../../fonts/Georgia.ttf") format("truetype");
}

@font-face {
  font-family: "Georgia-Light";
  src: local("SD_Georgia_Light"),
    url("../../fonts/SD_Georgia_Light.ttf") format("truetype");
}

@font-face {
  font-family: "ZenKakuGothic";
  src: local("ZenKakuGothicAntique-Regular"),
    url("../../fonts/ZenKakuGothicAntique-Regular.ttf") format("truetype");
}

.container {
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  font-family: Alata;
  top: 0;
  background-color: #ffffff;
}

.header h3 {
  font-size: 22px;
}

.logo {
  height: 50px;
  width: 150px;
  margin-top: 10px;
}

.mainPhoto {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  margin-bottom: 25px;
}

.articleHeader {
  text-align: center;
  margin-bottom: 30px;
  margin-top: -40px;
  padding-left: 200px;
  padding-right: 200px;
}

.articleTitle {
  font-family: Alata;
  margin-top: 20px;
  padding: 0 20px;
  margin-bottom: 5px;
}

.articleSubtitle {
  font-family: ZenKakuGothic;
  margin: 0 0 7px;
  font-size: 20px;
}

.articleDate {
  font-family: ZenKakuGothic;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: -5px;
}

.textContainer {
  padding: 10px 30px 20px;
  font-family: Georgia;
  line-height: 1.5;
  white-space: wrap;
  display: flex;
  flex-direction: column;
}

.textContainer span {
  margin: 0;

  display: inline;
}

.textContainer img {
  margin: 20px auto;
  max-height: 250px;
  max-width: 100%;
}

.backButton {
  display: none;
}

@media (min-width: 800px) {
  .textContainer {
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
  }

  .textContainer img {
    max-height: 500px;
  }

  .backButton {
    padding: 8px 30px;
    color: #000000;
    background-color: rgb(255, 254, 245);
    border: solid 2px #000000;
    transition: 0.1s ease-in;
    text-decoration: none;
    position: -webkit-sticky;
    position: sticky;
    top: 20vh;
    left: 25px;
    z-index: 999;
    display: block;
  }

  .backButton:hover {
    color: rgb(255, 254, 245);
    background-color: #000000;
    cursor: pointer;
  }
}
