@font-face {
  font-family: "Inter-Regular";
  src: local("Inter-Regular"),
    url("../../fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-SemiBold";
  src: local("Inter-SemiBold"),
    url("../../fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"),
    url("../../fonts/Roboto-Light.ttf") format("truetype");
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  box-sizing: border-box;
}

.title {
  font-family: Roboto-Light;
  font-size: 2.75rem;
  margin-bottom: 100px;
}

.articleLink {
  color: #000000;
  text-decoration: none;
}

.articlesWrapper {
  display: grid;
  /* justify-content: flex-start;
  flex-wrap: wrap; */
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  width: 100%;
  box-sizing: border-box;
}

.articleInstance {
  width: 33%;
}

.articlePhoto {
  width: 100%;
}

.articleCategory {
  font-family: "Inter-Regular";
}

.articleTitle {
  font-family: "Inter-SemiBold";
  font-size: 1.25rem;
}

.header h3 {
  font-size: 22px;
}

.logo {
  height: 50px;
  width: 150px;
  margin-top: 10px;
}

.altLogo {
  height: 70px;
  width: 70px;
  margin-top: 10px;
}

.articleContainerMobile {
  width: 75%;
  margin: 0 auto;
  padding-top: 25px;
}

.articleInstanceMobile {
  width: 100%;
  margin-bottom: 30px;
}

.articleImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0;
}

.date {
  font-family: ZenKakuGothic;
  font-size: 20px;
  margin: 0;
}

.mostRecentArticles {
  display: none;
}

.olderArticles {
  display: none;
}

@media (min-width: 800px) {
  .articleInstance {
    grid-column: span 1;
  }

  .articlePhoto {
    width: 25vw;
  }
}
