@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"),
    url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-SemiBold";
  src: local("Inter-SemiBold"),
    url("../fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Regular";
  src: local("Inter-Regular"),
    url("../fonts/Inter-Regular.ttf") format("truetype");
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.imageCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carouselImage {
  height: 200px;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.chevron:hover {
  cursor: pointer;
}

.textContainer {
  width: 100%;
  text-align: left;
}

.projectTitle {
  font-family: "Inter-Regular";
  font-size: 1.5rem;
}

.projectDescription {
  font-family: "Inter-Regular";
  font-size: 1rem;
}

@media (min-width: 900px) {
  /* .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  } */

  .imageCarousel {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 110%;
  }

  .carouselImage {
    height: 600px;
    width: 110%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
