@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"),
    url("../fonts/Roboto-Light.ttf") format("truetype");
}

@keyframes movingImage {
  0% {
    transform: translateX(120vw);
  }
  100% {
    transform: translateX(-120vw);
  }
}

.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.header {
  font-family: "Roboto-Light";
  font-size: 1.5rem;
  padding: 0 0 0 20px;
}

.floatingImage {
  object-fit: fill;
  /* max-width: 100px;
  max-height: 100px; */
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* animation: movingImage linear infinite;
  animation-duration: 10s; */
  /* transition: 0.2s; */
  /* z-index: -100; */
}

.floatingImage:hover {
  /* transform: scale(1.01); */
}

@media (min-width: 900px) {
  .container {
    height: 100vh;
    margin-bottom: 120px;
  }

  .header {
    padding-left: 50px;
    font-size: 2.25rem;
  }
}
