@font-face {
  font-family: "Alata";
  src: local("Alata-Regular"),
    url("../fonts/Alata-Regular.ttf") format("truetype");
}

.container {
  margin-top: 20px;
  height: 10vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
}

.links {
  width: 35%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.social {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  font-family: Alata;
  text-decoration: none;
  font-size: 15px;
}

.link:visited {
  color: #000000;
}
