@font-face {
  font-family: "Alata";
  src: local("Alata-Regular"),
    url("../fonts/Alata-Regular.ttf") format("truetype");
}

.container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  font-family: "Roboto-Light";
  font-size: 0.75rem;
  padding-bottom: 30px;
}

.container.contactPage {
  position: absolute;
  bottom: 0;
}
