.container {
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: rgb(255, 254, 245);
}

.mobileLogo {
  display: block;
  margin-bottom: -15px;
}

.desktopLogo {
  display: none;
}

.links {
  display: none;
}

.iconLinks {
  display: none;
}

.navIcon {
  height: 20px;
  width: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.navIcon:hover {
  cursor: pointer;
}

.navIcon div {
  display: block;
  position: absolute;
  background-color: #000000;
  height: 2px;
  width: 100%;
  left: 0;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.navIcon div:nth-child(1) {
  top: 0;
}

.navIcon div:nth-child(2),
.navIcon div:nth-child(3) {
  top: 12px;
}

.navIcon div:nth-child(4) {
  top: 24px;
}

.navIcon.open div:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

.navIcon.open div:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navIcon.open div:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navIcon.open div:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}

@media (min-width: 900px) {
  .container {
    height: 12vh;
  }

  .links {
    display: flex;
    justify-content: space-between;
    font-family: Roboto-Light;
    width: 33%;
    font-size: 1.5rem;
    padding-left: 65px;
  }

  .desktopLogo {
    display: block;
  }

  .mobileLogo {
    display: none;
  }

  .iconLinks {
    display: block;
  }

  .navIcon {
    display: none;
  }
}
