@font-face {
  font-family: "Alata";
  src: local("Alata-Regular"),
    url("../fonts/Alata-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "ZenKakuGothic";
  src: local("ZenKakuGothicAntique-Regular"),
    url("../fonts/ZenKakuGothicAntique-Regular.ttf") format("truetype");
}

.container {
  min-width: 45vw;
  margin-right: 30px;
}

.image {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.date {
  font-family: ZenKakuGothic;
}

.title {
  font-family: Alata;
  font-size: 12px;
}

.link {
  text-decoration: none;
  color: #000000;
}

@media (min-width: 800px) {
  .container {
    width: 18%;
    margin-right: 55px;
  }

  .image {
    height: 66%;
    width: 100%;
    object-fit: cover;
  }

  .title {
    font-size: 18.5px;
  }

}
