@font-face {
  font-family: "Alata";
  src: local("Alata-Regular"),
    url("../fonts/Alata-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "ZenKakuGothic";
  src: local("ZenKakuGothicAntique-Regular"),
    url("../fonts/ZenKakuGothicAntique-Regular.ttf") format("truetype");
}

.container {
  min-width: 100vw;
  padding: 0 30px;
  box-sizing: border-box;
}

.image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.date {
  font-family: ZenKakuGothic;
  font-size: 1.2rem;
  margin: 0;
}

.title {
  font-family: Alata;
  font-size: 1.6rem;
  margin: 10px;
}

.link {
  text-decoration: none;
  color: #000000;
}

@media (min-width: 800px) {
  .link {
    display: flex;
  }

  .container {
    min-width: 45%;
    max-width: 45%;
    /* margin-right: 50px; */
    margin-bottom: 100px;
    padding: 0;
  }

  .image {
    height: 500px;
    width: 400px;
    margin-right: 30px;
    margin-top: 40px;
    opacity: 0;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .image.visible {
    opacity: 100;
    /* transform: translateY(-40px); */
    margin-top: 0;
  }

  .textContainer {
    opacity: 0;
    transition: opacity 0.5s, margin-top 0.5s;
    margin-top: 40px;
    transition-delay: 0.3s;
  }

  .textContainer.visible {
    opacity: 100;
    margin-top: 0;
    /* transform: translateY(-40px); */
  }

  .titleContainer {
    /* height: 33%; */
    border-bottom: solid 1px #000000;
  }

  .title {
    font-family: Georgia;
    font-size: 1.6rem;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .date {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 15px;
  }

  .blurb {
    font-size: 1.2rem;
  }
}
