@font-face {
  font-family: "Georgia";
  src: local("Georgia"),
    url("../fonts/Georgia.ttf") format("truetype");
}

@font-face {
  font-family: "Alata";
  src: local("Alata-Regular"),
    url("../fonts/Alata-Regular.ttf") format("truetype");
}


.container {
  padding-left: 20px;
  width: 100vw;
  box-sizing: border-box;
  position: relative;
  overflow-x: scroll;
}

.header {
  font-family: Georgia;
  margin-bottom: 30px;
}

.articleContainer {
  display: flex;
  overflow-x: auto;
}

.link {
  color: #000000;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 800px) {
  .container {
    width: 100vw;
    padding-left: 75px;
    padding-top: 75px;
    box-sizing: border-box;
  }

  .articleContainer {
    display: flex;
    margin-left: 50px;
    margin-bottom: 20px;
  }

  .header {
    margin-bottom: 50px;
  }

}
