@font-face {
  font-family: "Georgia";
  src: local("Georgia"),
    url("../fonts/Georgia.ttf") format("truetype");
}

@font-face {
  font-family: "Alata";
  src: local("Alata-Regular"),
    url("../fonts/Alata-Regular.ttf") format("truetype");
}

.container {
  width: 100vw;
  padding-left: 75px;
  padding-top: 75px;
  box-sizing: border-box;
}

.subContainer {
  padding-left: 50px;
}

.articleContainer {
  display: flex;
  overflow-x: scroll;
}

.header {
  font-family: Georgia;
  margin-bottom: 50px;
}


@media (max-width: 800px) {
  .container {
    padding: 0;
    box-sizing: border-box;
  }

  .subContainer {
    padding: 0;
  }
}
