@font-face {
  font-family: "Alata";
  src: local("Alata-Regular"),
    url("../fonts/Alata-Regular.ttf") format("truetype");
}

/* .container {
  background-color: #FFFFFF;
  color: #730017;
  height: 10vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 50px;
  position: fixed;
} */

.logo {
  height: 375px;
  width: 375px;
}
.title {
  margin: 0;
  font-family: Alata;
}

.subcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.subtitle {
  font-family: Alata;
  margin: 0;
}

.link {
  text-decoration: none;
  font-family: Alata;
}
.linksDesktop {
  width: 100%;
  justify-content: space-between;
}

.linksMobile {
  width: 100%;
  justify-content: space-between;
  background-color: #FFFFFF;
}

@media (min-width: 800px) {
  .container {
    height: 10vh;
    padding: 10px 50px;
    box-sizing: border-box;
    align-items: center;
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 100%;
  }
}
