@font-face {
  font-family: "Alata";
  src: local("Alata-Regular"),
    url("../fonts/Alata-Regular.ttf") format("truetype");
}

.container {
  width: 100%;
  background-color: rgb(255, 254, 245, 0.9);
  color: #000000;
  height: 10vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 12px;
  position: sticky;
  top: 0;
  transition: background-color 0.2s;
}

.title {
  margin: 0;
  font-family: Alata;
}

.subcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: visibility 0s, opacity 0.2s ease-in-out;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
}

.subtitle {
  font-family: Alata;
  margin: 0;
}

.link {
  text-decoration: none;
  font-family: Alata;
  font-size: 13px;
}

.links {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  display: flex;
  transition: 0.2s;
  align-items: center;
}

@media (min-width: 800px) {
  .container {
    height: 13.5vh;
    padding: 20px 50px;
    box-sizing: border-box;
    align-items: center;
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 254, 245);
    width: 100%;
  }

  .link {
    font-size: 17px;
  }
}
