/* @font-face {
  font-family: "SD Georgia Light";
  src: url("https://www.fontsaddict.com/fontface/sd-georgia-light.ttf");
} */

@keyframes growAnimation {
  from {
    height: 0px;
  }
  to {
    height: 300px;
  }
}

.container {
  padding-top: 90px;
  height: 200vh;
  background-color: rgb(255, 254, 245);
  font-family: "SD Georgia Light";
  color: rgb(0, 0, 0);
}

.topSubContainer {
  padding: 30px 50px;
  margin-bottom: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 90px;
}

.dummyContainer {
  padding: 30px 50px;
  margin-bottom: 500px;
}

.svg {
  width: 3px;
  height: 0px;
  animation: growAnimation 1s ease forwards;
}

.svg.grow {
  height: 300px;
}

.title {
  margin: 0;
  font-size: 10rem;
  font-weight: 50;
  color: #000000;
  opacity: 0;
}

.title.fadeInLeft {
  opacity: 100;
  transition: opacity 1.5s ease, transform 1.5s ease;
  transform: translateX(40px);
}

.topSubContainerRight {
  padding-left: 20px;
  opacity: 0;
}

.topSubContainerRight.fadeInRight {
  transition-delay: 0.5s;
  opacity: 100;
  transition: opacity 1.5s ease, transform 1.5s ease;
  transform: translateX(-40px);
}

.topSubContainerRight h1 {
  font-size: 5rem;
  font-weight: 50;
  margin: 0;
}

.topSubContainerRight p {
  font-size: 1.5rem;
  margin: 0;
  font-family: Alata;
}

.photoPlayer {
  width: 90%;
  background-color: #000000;
  height: 90vh;
  margin: 0 auto;
  opacity: 0;
  position: sticky;
  top: 85px;
}

.photoPlayer img {
  object-fit: cover;
}

.photoPlayer.fadeInBottom {
  transition-delay: 1s;
  opacity: 100;
  transition: opacity 1.5s ease, transform 1.5s ease;
  transform: translateY(-40px);
}

.photoPlayer.sticky {
  position: sticky;
  background-color: red;
  top: 100px;
}
