/* @font-face {
  font-family: "SD Georgia Light";
  src: url("https://www.fontsaddict.com/fontface/sd-georgia-light.ttf");
} */

@keyframes growAnimation {
  from {
    height: 0px;
  }
  to {
    height: 300px;
  }
}

@keyframes horizontalGrow {
  from {
    width: 0px;
  }
  to {
    width: 300px;
  }
}

.container {
  padding-top: 0px;
  height: 200vh;
  background-color: rgb(255, 254, 245);
  font-family: "SD Georgia Light";
  color: rgb(0, 0, 0);
}

.mobileTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-family: Georgia;
  position: sticky;
  top: 0px;
  z-index: 20000;
}

.mobileTop h2 {
  font-size: 1.5rem;
}

.navLinks {
  padding: 8px 12px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 50px;
  font-size: 0.8rem;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.topSubContainerMobile {
  padding: 10px 50px;
  margin-bottom: 50px;
  top: 90px;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Georgia;
}

.topSubContainerDesktop {
  display: none;
}

.svg {
  width: 3px;
  height: 0px;
  animation: growAnimation 1s ease forwards;
}

.mobileLogo {
  opacity: 0;
  height: 250px;
  width: 250px;
}

.mobileLogo.fade {
  opacity: 100;
  transition: opacity 1.5s ease;
}

.svg.grow {
  height: 300px;
}

.mobileSvg {
  height: 2px;
  width: 0px;
  animation: horizontalGrow 1s ease forwards;
}

.mobileSVG.grow {
  width: 300px;
}

.title {
  margin: 0;
  font-size: 10rem;
  font-weight: 50;
  color: #000000;
  opacity: 0;
}

.title.fadeInLeft {
  opacity: 100;
  transition: opacity 1.5s ease, transform 1.5s ease;
  transform: translateX(40px);
}

.topSubContainerRight {
  padding-left: 20px;
  opacity: 0;
}

.topSubContainerRight.fadeInRight {
  transition-delay: 0.5s;
  opacity: 100;
  transition: opacity 1.5s ease, transform 1.5s ease;
  transform: translateX(-40px);
}

.topSubContainerRight h1 {
  font-size: 5rem;
  font-weight: 50;
  margin: 0;
}

.topSubContainerRight p {
  font-size: 1.5rem;
  margin: 0;
  font-family: Alata;
}

.photoPlayerMobile {
  display: block;
  width: 90%;
  height: 60vh;
  margin: 0 auto;
  opacity: 0;
  position: sticky;
  top: 110px;
  background-size: cover;
  background-position: center;
}

.photoPlayerMobile img {
  object-fit: cover;
  object-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.galleryLink {
  position: absolute;
  top: -10px;
  left: 10px;
  color: rgb(255, 254, 245);
  z-index: 20;
  font-family: Georgia;
  transition: top 0.3s ease, left 0.3s ease;
}

.galleryLink.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transition: transform 0.3s ease; */
  font-size: 1.4rem;
}

.hiddenImage {
  display: none;
}

.photoPlayerMobile.fadeInBottom {
  transition-delay: 1s;
  opacity: 100;
  transition: opacity 1.5s ease, transform 1.5s ease;
  transform: translateY(-40px);
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #000000a2;
  z-index: 10;
  opacity: 0;
  transition: 0.3s;
}

.overlay.endScroll {
  opacity: 1;
}

.photoPlayerDesktop {
  display: none;
}

@media (min-width: 800px) {
  .photoPlayerMobile {
    display: none;
  }

  .photoPlayerDesktop {
    display: block;
    width: 90%;
    background-color: #000000;
    height: 90vh;
    margin: 0 auto;
    opacity: 0;
    position: sticky;
    top: 85px;
  }

  .photoPlayerDesktop img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .photoPlayerDesktop.fadeInBottom {
    transition-delay: 1s;
    opacity: 100;
    transition: opacity 1.5s ease, transform 1.5s ease;
    transform: translateY(-40px);
  }

  .photoPlayerDesktop.sticky {
    position: sticky;
    background-color: red;
    top: 100px;
  }

  .container {
    padding-top: 90px;
  }

  .mobileTop {
    display: none;
  }

  .topSubContainerMobile {
    display: none;
  }

  .topSubContainerDesktop {
    padding: 30px 50px;
    margin-bottom: 90px;
    top: 90px;
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Georgia;
  }

  .dummyContainer {
    padding: 30px 50px;
    margin-bottom: 500px;
  }
}
