@font-face {
  font-family: "Georgia";
  src: local("Georgia"), url("../fonts/Georgia.ttf") format("truetype");
}
@font-face {
  font-family: "Alata";
  src: local("Alata-Regular"),
    url("../fonts/Alata-Regular.ttf") format("truetype");
}

.container {
  font-family: Georgia;
  width: 100%;
  margin-bottom: 45px;
}

.title {
  margin-bottom: 5px;
  margin-left: 10px;
}

.doublePhotoContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 2px;
}

.singlePhotoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
  padding: 0 10px;
}

.smallImage {
  width: 49.8%;
  height: 300px;
}

.largeImage {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.galleryLink {
  color: #000000;
}

.galleryLink2 {
  display: none;
}

/* desktop */

.desktopHero {
  display: none;
  height: 100vh;
  width: 100%;
  background-image: url(../media/angela6cropped.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 2px;
}

.smallPhotoContainer {
  display: none;
}

@media (min-width: 800px) {
  .desktopHero {
    display: block;
  }

  .smallPhotos {
    /* height: 400px; */
    height: 100%;
    margin: 0 1px;
  }

  .galleryLink2 {
    display: block;
    font-size: 1.2rem;
    color: #000000;
    margin-top: 40px;
  }

  .smallPhotoContainer {
    display: flex;
    padding: 0;
    height: 50vh;
    width: 100vw;
    overflow: hidden;
    margin-bottom: 15px;
  }

  .container {
    display: none;
  }
}
