.container {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* justify-content: center; */
  margin-bottom: 70px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.activeImage {
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.verticalImageCarousel {
  height: 100%;
  width: 40%;
  text-align: center;
}

.imageSlideTrack {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
}

.carouselImage {
  width: auto;
  height: auto;
}

.chevronDown {
  /* transform: rotate(270deg); */
}

.chevronDown:hover {
  cursor: pointer;
}
