.container {
  padding-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.header {
  font-family: Roboto-Light;
  padding: 0 0 0 20px;
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  width: 75%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.mobilePhotos {
  display: block;
}

.iframe {
  display: none;
}

.desktopLink {
  display: none;
}

.mobileLink {
  font-family: "Roboto-Light";
  text-align: right;
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  /* margin-right: -100px; */
  display: flex;
  align-items: center;
}

@media (min-width: 800px) {
  .container {
    padding-bottom: 100px;
  }

  .header {
    padding-left: 50px;
    font-size: 2.25rem;
    margin-bottom: 50px;
  }

  .iframe {
    display: block;
    border: none;
    height: 600px;
    width: 100%;
    margin-bottom: 45px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .desktopLink {
    font-family: "Roboto-Light";
    text-align: right;
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;
    margin-right: -100px;
    display: flex;
    align-items: center;
  }

  .mobilePhotos {
    display: none;
  }
}
