@font-face {
  font-family: "Georgia-Light";
  src: local("SD_Georgia_Light"),
    url("../../fonts/SD_Georgia_Light.ttf") format("truetype");
}

.container {
  height: auto;
  width: 100vw;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  font-family: Alata;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 5;
}
.header h3 {
  font-size: 22px;
}

.logo {
  height: 44.9px;
  width: 135px;
  margin-top: 10px;
}

.link {
  text-decoration: none;
  font-family: Alata;
  margin-left: 15px;
  margin-right: 15px;
}
.link:visited {
  color: #000000;
}

.info {
  display: none;
  color: #ffffff;
}

.image {
  /* height: 300px;
  width: 99%; */
  transition: 0.15s;
  z-index: -5;
}

.imageContainer {
  /* line-height: 1;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  column-count: 3;
  column-gap: 0px;
  width: 90vw;
  margin: 0 auto; */
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
}

.readMore {
  color: #ffffff;
  text-decoration: underline;
}
.readMore:hover {
  cursor: pointer;
}
.readMore:visited {
  color: #ffffff;
}

@media (min-width: 800px) {
  .header {
    padding: 10px 50px;
    height: 15vh;
  }

  .header h3 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .info {
    height: 30%;
  }

  .image {
    /* height: 300px;
    width: 300px; */
    /* margin: 0.5px;
    margin-right: 0.1px;
    margin-left: 0.1px; */
    transition: 0.15s;
    z-index: -5;
  }
  .contentContainer:hover {
    position: relative;
  }

  .contentContainer:hover .image {
    filter: brightness(20%);
  }

  .contentContainer:hover .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Georgia-Light;
    text-align: center;
  }

  .imageContainer {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* aspect-ratio: attr(width) / attr(height); */
  }

  .vertical {
    grid-column: span 1;
  }

  .horizontal {
    grid-column: span 2;
  }
}
