@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"),
    url("../../fonts/Roboto-Light.ttf") format("truetype");
}

.container {
  height: auto;
  width: 100vw;
  box-sizing: border-box;
  text-align: center;
  padding-top: 50px;
}

.imageContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  gap: 10px;
  padding: 0 10px;
}

.title {
  font-family: Roboto-Light;
  margin-bottom: 150px;
  font-size: 3rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: attr(width) / attr(height);
}

.wrapperLink {
  grid-column: span 1;
}

.wrapperLink.wide {
  grid-column: span 2;
}

.link {
  text-decoration: none;
  font-family: Alata;
  margin-left: 15px;
  margin-right: 15px;
}
.link:visited {
  color: #000000;
}

.readMore {
  color: #ffffff;
  text-decoration: underline;
}
.readMore:hover {
  cursor: pointer;
}
.readMore:visited {
  color: #ffffff;
}

@media (min-width: 800px) {
  .header {
    padding: 10px 50px;
    height: 15vh;
  }

  .header h3 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .info {
    height: 30%;
  }

  .contentContainer:hover {
    position: relative;
  }

  .contentContainer:hover .image {
    filter: brightness(20%);
  }

  .contentContainer:hover .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Georgia-Light;
    text-align: center;
  }

  .imageContainer {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding-bottom: 50px;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: attr(width) / attr(height);
  }
}
