@font-face {
  font-family: "Georgia";
  src: local("Georgia"),
    url("../../fonts/Georgia.ttf") format("truetype");
}

@font-face {
  font-family: "Georgia-Light";
  src: local("SD_Georgia_Light"),
    url("../../fonts/SD_Georgia_Light.ttf") format("truetype");
}

@font-face {
  font-family: "Alata";
  src: local("Alata-Regular"),
    url("../../fonts/Alata-Regular.ttf") format("truetype");
}

.imageContainer {
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  column-count: 3;
  column-gap: 0px;
  width: 90vw;
  margin: 0 auto;
  padding-top: 200px;
}

.image {
  height: auto;
  width: 99%;
  margin: 1px;
  transition: 0.15s;
  z-index: -5;
}

.contentContainer {
  position: relative;
  text-align: center;
}

.contentContainer div {
  display: none;
  color: white;
}

.contentContainer:hover .image {
  filter: brightness(20%);
}

.contentContainer:hover div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Georgia-Light;
  text-align: center;
}

.link {
  color: #FFFFFF;
  text-decoration: underline;
}
.link:hover {
  cursor: pointer;
}
.link:visited {
  color: #FFFFFF;
}

.projectContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  height: 100vh;
}

.images {
  width: 45%;
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  column-count: 3;
  column-gap: 0px;
  overflow-y: scroll;
}

.textContainer {
  width: 40%;
  height: 100vh;
  text-align: right;
}

.textContainer h1 {
  font-family: Alata;
  font-size: 75px;
}

.textContainer p {
  font-family: Georgia;
}

.backButton {
  text-decoration: underline;
}

.backButton:hover {
  cursor: pointer;
}
