@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"),
    url("../../fonts/Roboto-Light.ttf") format("truetype");
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.leftContainer {
  height: 100%;
  width: 50%;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 50%;
  padding: 50px 60px;
  text-align: right;
  margin-left: auto;
  margin-right: 0;
  position: relative;
}

.projectTitle {
  font-family: Roboto-Light;
  font-style: italic;
  font-size: 3.75rem;
  margin-bottom: 25px;
}

.htmlText {
  font-family: Roboto-Light;
}

.projectText {
  font-family: Roboto-Light;
  font-size: 1rem;
}

.previewedPhoto.active {
  border: solid 5px rgb(0, 0, 0);
}

.previewedPhoto:hover {
  cursor: pointer;
}

.chevron:hover {
  cursor: pointer;
}

@media (min-width: 800px) {
  .wrapper {
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }

  .leftContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 40px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    font-family: Alata;
    position: sticky;
    top: 0;
    background-color: rgb(255, 254, 245);
    z-index: 5;
    padding: 10px 50px;
    height: 12vh;
  }

  .wrapper {
    padding-top: 12vh;
  }

  .photoPreview {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 15%;
    transform: translateY(-15%);
    width: 100%;
    margin-right: -30px;
    height: auto;
  }

  .photoCarousel {
    width: 90%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
  }

  .miniFooter {
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
  }

  .logo {
    height: 300px;
    width: 300px;
  }
  .header h3 {
    font-size: 40px;
  }
  .images {
    display: block;
    width: 45%;
    margin: 0 auto;
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;
    margin: 0 auto;
  }

  .photo {
    height: auto;
    width: 99.8%;
    margin: 0.5px;
  }

  .info {
    width: 40%;
    text-align: right;
    padding-top: 0px;
    line-height: 1.5;
  }
  .info::-webkit::-webkit-scrollbar {
    display: none;
  }

  .info h1 {
    font-size: 70px;
    margin-bottom: 20px;
    margin-top: 0;
    overflow-y: auto;
  }
}
