.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.logo {
  height: 70px;
  width: 70px;
  margin-top: 10px;
}

.header h3 {
  font-size: 22px;
  font-family: Alata;
}

.images {
  display: flex;
  overflow-x: scroll;
}

.photo {
  max-height: 60vh;
}

.info {
  text-align: left;
  padding: 0 50px;
}

.info h1 {
  font-family: Alata;
  font-size: 45px;
  margin-bottom: 0;
}

.info p {
  font-family: Georgia;
}

.backLink {
  color: #000000;
}

@media (min-width: 800px) {
  .contentContainer {
    width: 95vw;
    height: 82vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    font-family: Alata;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 5;
    padding: 10px 50px;
    height: 15vh;
  }
  .logo {
    height: 300px;
    width: 300px;
  }
  .header h3 {
    font-size: 40px;
  }
  .images {
    display: block;
    width: 45%;
    column-count: 3;
    column-gap: 0px;
    margin: 0 auto;
  }

  .photo {
    height: auto;
    width: 99%;
  }
  .info {
    width: 40%;
    text-align: right;
    padding-top: 20px;
    line-height: 1.5;
  }
  .info::-webkit::-webkit-scrollbar {
    display: none;
  }

  .info h1 {
    font-size: 70px;
    margin-bottom: 20px;
  }
}
