@font-face {
  font-family: "Georgia";
  src: local("Georgia"), url("../fonts/Georgia.ttf") format("truetype");
}

.container {
  font-family: Georgia;
  width: 100vw;
}

.title {
  margin-bottom: 5px;
  margin-left: 10px;
}

.doublePhotoContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 2px;
}

.singlePhotoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
  padding: 0 10px;
}

.smallImage {
  width: 49.8%;
  height: 300px;
}

.largeImage {
  height: 300px;
}

.galleryLink {
  color: #000000;
}
