@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"),
    url("../fonts/Roboto-Light.ttf") format("truetype");
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.videoContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

.videoContainer video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.rightSection {
  display: none;
}

.mobileText {
  display: block;
  z-index: 1000;
  height: 100%;
  width: 100%;
  text-align: center;
  color: rgb(255, 254, 245);
}

.textContainer {
  position: absolute;
  width: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  color: rgb(255, 254, 245);
}

.logo {
  height: 175px;
  width: 175px;
  /* position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%); */
  z-index: 1000;
}

.downArrowMobile {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 900px) {
  .container {
    display: flex;
  }

  .videoContainer {
    width: 50%;
    height: 100%;
  }

  .desktopGreeting {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

  .logoDesktop {
    margin-left: -50px;
  }

  .greetingHeader {
    font-family: "Roboto-Light";
    font-size: 4rem;
    margin: 0;
    white-space: nowrap;
  }

  .rightSection {
    display: block;
    height: 100%;
    width: 50%;
    position: relative;
  }

  /* .textContainer {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
  } */

  .linksContainer {
    display: flex;
    position: absolute;
    bottom: 0%;
    left: 55%;
    transform: translateX(-55%);
    width: 66%;
    justify-content: space-between;
  }

  .linksContainer p {
    font-family: "Roboto-Light";
    font-size: 1.5rem;
  }

  .mobileText {
    display: none;
  }

  .downArrowDesktop {
    position: absolute;
    bottom: -1%;
    left: -1%;
    height: 100px;
    width: 80px;
  }

  .downArrowMobile {
    display: none;
  }
}
