@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"),
    url("../fonts/Roboto-Light.ttf") format("truetype");
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden; */
  height: 100vh;
  width: 100vw;
}

.container.transitioning {
  transform: translateY(-100%);
  transition: transform 0.2s ease-out;
}

.videoContainer {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
}

.videoContainer video {
  display: none;
}

.landingPageImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.mobileGreeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #000000;
  z-index: 1000;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: rgb(255, 254, 245);
}

.logoMobile {
  margin-bottom: 75px;
}

.greetingHeader {
  font-family: "Roboto-Light";
  font-size: 2.75rem;
  margin: 0;
  white-space: nowrap;
}

.rightSection {
  display: none;
}

.textContainer {
  position: absolute;
  width: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  color: rgb(255, 254, 245);
}

.downArrowMobile {
  display: block;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -0%);
}

.spinnerMobile {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #000000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  position: absolute;
  bottom: 2%;
  left: 48%;
  transform: translate(-48%, -2%);
}

.scrollDown:hover {
  cursor: pointer;
}

@media (min-width: 900px) {
  .container {
    display: flex;
  }

  .videoContainer {
    width: 50%;
    height: 100%;
  }

  .videoContainer video {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
  }

  .mobileGreeting {
    display: none;
  }

  .desktopGreeting {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

  .logoDesktop {
    margin-left: -40px;
    margin-bottom: 30px;
  }

  .greetingHeader {
    font-size: 4rem;
    margin: 0;
    white-space: nowrap;
  }

  .rightSection {
    display: block;
    height: 100%;
    width: 50%;
    position: relative;
  }

  .linksContainer {
    display: flex;
    position: absolute;
    bottom: 0%;
    left: 55%;
    transform: translateX(-55%);
    width: 66%;
    justify-content: space-between;
  }

  .linksContainer p {
    font-family: "Roboto-Light";
    font-size: 1.5rem;
  }

  .mobileText {
    display: none;
  }

  .downArrowDesktop {
    position: absolute;
    bottom: -1%;
    left: -1%;
    height: 100px;
    width: 80px;
  }

  .spinnerDesktop {
    display: block;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #000000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    position: absolute;
    bottom: 1%;
    left: 1%;
  }

  .spinnerMobile {
    display: none;
  }

  .downArrowMobile {
    display: none;
  }
}
