@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"),
    url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-SemiBold";
  src: local("Inter-SemiBold"),
    url("../fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Regular";
  src: local("Inter-Regular"),
    url("../fonts/Inter-Regular.ttf") format("truetype");
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: Roboto-Light;
  font-size: 2.25rem;
  font-style: italic;
}

.project {
  width: 90%;
  margin-bottom: 50px;
}

.projectHeader {
  font-family: "Inter-SemiBold";
  font-style: italic;
  font-size: 1.25rem;
  text-align: center;
}

.projectDescription {
  font-family: "Roboto-Light";
}

.link {
  font-size: 0.75rem;
  font-family: "Inter-Regular";
  text-decoration: none;
  color: #000000;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (min-width: 900px) {
  .project {
    width: 70%;
  }

  .projectHeader {
    text-align: left;
    font-size: 1.5rem;
  }

  .link {
    font-size: 1rem;
  }
}
